body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-white {
  background: white !important;
}

.users-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}

.table>:not(:first-child) {
  border-top: none !important;
}

.table-head {
  line-height: 3.8rem !important;
  background: rgb(250, 248, 248);
}

.table-body-row {
  line-height: 3.5rem !important;
}

.form-label-name {
  width: 300px;
}

.ps-100 {
  padding-left: 240px;
}

.table-body-id {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}